{% extends 'layout.html.twig' %}

{% block title %}Liste des etudiants{% endblock %}

{% block body %}
    {%for etudiant in etudiants %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ etudiant.nom }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ etudiant.nom }} {{ etudiant.prenom }}</h6>
                <p class="card-text">Section  : {{ etudiant.Section }}</p>
                <a href="{{ path('app_etudiant_delete', {'id': etudiant.id}) }}" class="card-link">Delete</a>
            </div>

        </div>
    {%endfor%}



{% endblock %}
